@model ChangePassword

<h1>Change your password here</h1>

<form asp-controller="Auth" asp-action="ChangePassword" method="post">
    <label style="background-color:red;">@ViewBag.Message</label>
    <div>
        <label>OldPassword</label>
        <input asp-for="OldPassword" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div>
        <label>NewPassword</label>
        <input asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label>ConfirmNewPassword</label>
        <input asp-for="ConfirmNewPassword" />
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>
    <div>
        <button type="submit">Change</button>
    </div>

</form>
