@model ResetPassword

<form asp-controller="Auth" asp-action="ResetPassword" method="post">
    @*hidden gia to returnUrl*@
    <label style="background-color:red;">@ViewBag.Message</label>
    <div>
        <label>NewPassword</label>
        <input asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label>ConfirmPassword</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <button type="submit">Reset</button>
    </div>
</form>
