
@model AccountResetPassword 
<form class="inputs" asp-controller="Auth" asp-action="ResetPasswordInput" method="post">
    @*hidden gia to returnUrl*@
    <label class="">@ViewBag.Message</label>
    <input asp-for="UsernameEmail" placeholder="Username or Email" />
    <span asp-validation-for="UsernameEmail"></span>
    <button class="login" type="submit">Reset</button>
</form>