* {
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #e0e0e0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  margin-top: 20px;
}

main .contentArea {
  width: 90%;
}

main .contentArea .profileDetails {
  -webkit-box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.561);
          box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.561);
  border-radius: 20px;
  background-color: white;
  background: #99c2ec;
  background: -webkit-gradient(linear, left top, left bottom, from(#99c2ec), color-stop(50%, #3385d9), to(#1b6dc1));
  background: linear-gradient(180deg, #99c2ec 0%, #3385d9 50%, #1b6dc1 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contentArea .profileDetails .wrapper {
  max-height: 100%;
  width: 200px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contentArea .profileDetails .wrapper .profilePicture {
  background: #5e7892;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100%;
  width: 200px;
  height: 200px;
  border-radius: 99999px;
  padding: 20px;
}

main .contentArea .profileDetails .wrapper .username {
  text-align: center;
  font-size: x-large;
  color: #ebebeb;
}

main .contentArea .profileDetails .wrapper .rating {
  background-color: white;
  padding: 4px;
  border-radius: 20px;
}

main .contentArea .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

main .contentArea .more .leftColumn {
  width: 25%;
}

main .contentArea .more .leftColumn .bio {
  -webkit-box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.561);
          box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.561);
  border-radius: 20px;
  background-color: #f8f8f8;
  padding: 30px;
}

main .contentArea .more .leftColumn .bio div {
  margin-top: 20px;
}

main .contentArea .more .leftColumn .reviewArea {
  background-color: #f8f8f8;
  max-height: 1500px;
  -webkit-box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.561);
          box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.561);
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
}

main .contentArea .more .leftColumn .reviewArea .reviews {
  list-style: none;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem {
  background-color: #fff;
  border-radius: 20px;
  width: 90%;
  margin: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem .review a {
  text-decoration: none;
  color: black;
  width: 60%;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem .review a .userDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem .review a .userDetails .profileImg {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 50px;
  height: 30px;
  width: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 9999px;
  margin-right: 10px;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem .review a .userDetails .reviewerUsername {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem .review .reviewDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem .review .reviewDetails .reviewText p {
  text-align: justify;
}

main .contentArea .more .leftColumn .reviewArea .reviews .reviewItem .review .reviewDetails .reviewDate {
  padding-top: 10px;
  font-size: small;
}

main .contentArea .more .latestActivity {
  -webkit-box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.561);
          box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.561);
  background-color: #f8f8f8;
  width: 74%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
}

main .contentArea .more .latestActivity pagination-component {
  margin-right: 10%;
}

main .contentArea .more .latestActivity .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .contentArea .more .latestActivity .contentContainer ad-component {
  margin: 30px;
}

main .contentArea .more .latestActivity .contentContainer ad-component .sellerData {
  display: none;
}
/*# sourceMappingURL=userProfile.css.map */