* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.weatherWrapper {
  background-color: #5c5f5c;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containers {
  width: 100vw;
  margin: 0px;
}

.widget {
  margin: 10px;
  width: 240px;
  height: 170px;
  border-radius: 20px;
  background: #a3bcb6;
}

.center {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.widget .center .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
}

.widget .center .right {
  width: 45%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 90px;
  height: 90px;
  display: block;
}

.weatherIcon {
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
}

.weather-status {
  color: #fff;
  text-align: center;
  margin-top: -20px;
  font-size: 1em;
}

.day {
  color: #fff;
  text-align: center;
}

.widget .right .city {
  font-size: 1em;
  text-align: center;
  margin: 0;
  text-shadow: 1px 1px 5px #707070;
}

.widget .right .degree {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-shadow: 1px 1px 5px #707070;
}

.widget .bottom {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.widget .bottom div {
  text-align: center;
  line-height: 100%;
  font-size: 0.83em;
  text-shadow: 1px 1px 5px #707070;
  margin-left: 10px;
  margin-right: 10px;
}

.bottom div span {
  display: block;
}

.todayDay {
  background-color: #5a7e5e;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.472);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.472);
}

body {
  overflow-x: hidden;
  background-color: #daded4;
}

body main .moreDetails {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .moreDetails .leftColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
}

body main .moreDetails .leftColumn * p {
  padding-left: 30px;
}

body main .moreDetails .leftColumn .innerUpperLeft {
  font-size: large;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
}

body main .moreDetails .leftColumn .innerLowerLeft {
  font-size: large;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  margin-top: 10px;
}

body main .moreDetails .leftColumn .innerLowerLeft .lowerLeftContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .moreDetails .leftColumn .innerLowerLeft .lowerLeftContainer .icon {
  margin-left: 30px;
  background-color: #2c2c2b;
  border-radius: 20px;
  display: inline-block;
}

body main .moreDetails .leftColumn .innerLowestLeft {
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  margin-top: 10px;
}

body main .moreDetails .rightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin: 20px;
  height: 700px;
}

body main .moreDetails .rightColumn .mapouter {
  position: relative;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

body main .moreDetails .rightColumn .gmap_canvas {
  height: 90%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: none !important;
}

body main .moreDetails .rightColumn .gmap_canvas iframe {
  width: 100%;
  height: 100%;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

.group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#sensorLogs table,
#weatherLogs table {
  width: 100%;
  text-align: center;
}

#sensorLogs tr,
#weatherLogs tr {
  text-align: center;
}

#sensorLogs td,
#sensorLogs th,
#weatherLogs td,
#weatherLogs th {
  border: 1px solid #ddd;
  padding: 8px;
}

#sensorLogs tr:nth-child(even),
#weatherLogs tr:nth-child(even) {
  background-color: #f2f2f2;
}

#sensorLogs tr:hover,
#weatherLogs tr:hover {
  background-color: #ddd;
}

#sensorLogs th,
#weatherLogs th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}

#weatherLogs tbody:nth-child(even) {
  background-color: #f2f2f2;
}

#weatherLogs td {
  padding: 0px;
  margin: 0px;
  width: 100px;
  height: 100px;
}

#weatherLogs .weatherCell {
  background-color: rgba(221, 221, 221, 0);
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weatherLogs .weatherCell h2 {
  margin-top: 5px;
}

#weatherLogs .weatherCell .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#weatherLogs .weatherCell .bottom h5 {
  margin: 5px;
}

#weatherLogs h1 {
  text-align: center;
}

.bottomBodyWeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bottomBodyWeather button {
  width: 150px;
  background-color: #525753;
  color: white;
}

.bottomBodyWeather .filler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
/*# sourceMappingURL=fieldOverview.css.map */