$green-primary: #5a7e5e;
$green-secondary: #a3bcb6;
$dark-grey: #5c5f5c;
$light-grey: #daded4;
$white: #fff;
$dark-yellow: #2c2c2b;
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
.weatherWrapper {
	background-color: $dark-grey;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.containers {
	width: 100vw;
	margin: 0px;
}

.widget {
	margin: 20px;
	width: 260px;
	height: 170px;
	border-radius: 20px;
	background: $green-secondary;
}
.center {
	height: 100px;
	display: flex;
	justify-content: space-around;
}
.widget .center .left {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 55%;
}

.widget .center .right {
	width: 45%;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon {
	width: 90px;
	height: 90px;
	display: block;
}

.weather-status {
	color: #fff;
	text-align: center;
	margin-top: -20px;
	font-size: 1em;
}
.day {
	color: #fff;
	text-align: center;
}
.widget .right .city {
	font-size: 1em;
	text-align: center;
	margin: 0;
	text-shadow: 1px 1px 5px #707070;
}

.widget .right .degree {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	margin: 0;
	text-shadow: 1px 1px 5px #707070;
}

.widget .bottom {
	width: 100%;
	// position: absolute;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	color: #fff;
}

.widget .bottom div {
	text-align: center;
	line-height: 100%;
	font-size: 0.83em;
	text-shadow: 1px 1px 5px #707070;
	margin-left: 10px;
	margin-right: 10px;
}

.bottom div span {
	display: block;
}
.todayDay {
	background-color: $green-primary;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.472);
}
body {
	overflow-x: hidden;
	background-color: $light-grey;
	main {
		.moreDetails {
			width: 100%;
			height: 200px;
			display: flex;
			flex-direction: row;
			.leftColumn {
				flex-direction: column;
				display: flex;
				width: 33%;
				height: fit-content;

				margin: 20px;

				* p {
					padding-left: 30px;
				}

				.innerUpperLeft {
					font-size: large;
					padding: 20px;
					flex-direction: column;
					display: flex;
					background-color: white;
					width: 100%;
				}
				.innerLowerLeft {
					font-size: large;
					.lowerLeftContainer {
						flex-direction: row;
						display: flex;
						align-items: center;
						.icon {
							margin-left: 30px;
							background-color: $dark-yellow;
							border-radius: 20px;
							display: inline-block;
						}
					}

					padding: 20px;
					flex-direction: column;
					display: flex;
					background-color: white;
					width: 100%;
					margin-top: 10px;
				}
				.innerLowestLeft {
					padding: 20px;
					flex-direction: column;
					display: flex;
					background-color: white;
					width: 100%;
					margin-top: 10px;
				}
			}
			.rightColumn {
				display: flex;
				width: 64%;
				height: fit-content;
				background-color: white;
				margin: 20px;
				height: 700px;
				.mapouter {
					position: relative;
					text-align: right;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
				}

				.gmap_canvas {
					height: 90%;
					width: 95%;
					display: flex;
					justify-content: center;
					overflow: hidden;
					background: none !important;
					iframe {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}
.group {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	label {
		display: flex;
		flex-grow: 1;
	}
}
#sensorLogs {
	
	
	table{
		
		width:100%;
		text-align:center;
	}
	tr{
		text-align:center;
	}
	td,
	th {
		border: 1px solid #ddd;
		padding: 8px;
	}
	tr:nth-child(even) {
		background-color: #f2f2f2;
	}
	tr:hover {
		background-color: #ddd;
	}
	th {
		padding-top: 12px;
		padding-bottom: 12px;
		
		background-color: #04aa6d;
		color: white;
	}
}
