@import url("/styles/components/other/inputs.css");
nav .primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70px;
  -webkit-box-shadow: 0px 2px 10px #20202073;
          box-shadow: 0px 2px 10px #20202073;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  background-color: #3385d9;
}

nav .primary-nav .brandLogo {
  height: 90%;
  width: 140px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  cursor: pointer;
}

nav .primary-nav .brandLogo a {
  background-image: url("/styles/graphics/logo.png");
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

nav .primary-nav .navListContainer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .primary-nav .navListContainer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  margin-right: 150px;
}

nav .primary-nav .navListContainer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

nav .primary-nav .navListContainer ul li a {
  text-decoration: none;
  color: #ebebeb;
  font-size: larger;
  padding: 12px;
  border-radius: 10px;
}

nav .primary-nav .navListContainer ul li a:hover {
  background-color: #7bb6f1ad;
}

nav .primary-nav .navListContainer ul .attention {
  background-color: #1f271b9b;
  text-decoration: underline;
}

nav .primary-nav .navListContainer ul .active {
  background-color: #1b6dc1;
}

nav .secondary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 4vh;
  -webkit-box-shadow: 5px 5px 25px #20202073;
          box-shadow: 5px 5px 25px #20202073;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

nav .secondary-nav .secondNavListContainer {
  background-color: #7bb6f1ad;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .secondary-nav .secondNavListContainer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  margin: 0px;
  margin-left: 55px;
}

nav .secondary-nav .secondNavListContainer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

nav .secondary-nav .secondNavListContainer ul li a {
  text-decoration: none;
  color: #243649fa;
  font-size: larger;
  font-weight: 500;
  padding: 12px;
  border-radius: 10px;
}

nav .secondary-nav .secondNavListContainer ul .vl {
  border-left: 2px solid #1f1e1e3d;
  border-radius: 10px;
  height: 60%;
}

.my-account-dropdown {
  position: absolute;
  z-index: 999;
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 300px;
  border: 0.5px solid #20202073;
  border-radius: 10px;
  display: none;
  -webkit-box-shadow: 5px 5px 25px grey;
          box-shadow: 5px 5px 25px grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-account-dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0px;
}

.my-account-dropdown ul li {
  margin: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.my-account-dropdown ul li a {
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-decoration: none;
  color: black;
}

.my-account-dropdown ul li a:hover {
  background-color: #3386d960;
}
/*# sourceMappingURL=navbar.css.map */