* {
  color: rgba(22, 22, 22, 0.822);
}

body {
  background-color: #d8d8d8;
  padding: 0px;
  overflow-x: hidden;
}

main {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contentContainer {
  background-color: rgba(243, 243, 243, 0.863);
  width: 50vw;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px #20202055;
          box-shadow: 3px 3px 5px #20202055;
}

main .contentContainer .title {
  text-align: center;
}

main .contentContainer .image {
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contentContainer .image .imageContainer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100%;
  width: 100%;
  height: 700px;
  border-radius: 20px;
}

main .contentContainer .interactionBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  width: 100%;
}

main .contentContainer .interactionBar .addToWishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  -webkit-box-shadow: 1px 1px 4px #20202055;
          box-shadow: 1px 1px 4px #20202055;
  border-radius: 20px;
  cursor: pointer;
}

main .contentContainer .interactionBar .addToWishlist svg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  margin: 10px;
}

main .contentContainer .interactionBar .socialMediaButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .contentContainer .interactionBar .socialMediaButtons .addToFacebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contentContainer .interactionBar .socialMediaButtons .addToFacebook svg {
  height: 60%;
  margin: 10px;
}

main .contentContainer .mainContentArea {
  font-size: large;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
}

footer {
  height: 200px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Modal Content */
.modal-content {
  background-color: #e9e9e9;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content .chatOption, .modal-content .emailOption {
  width: 450px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.modal-content .chatOption:hover, .modal-content .emailOption:hover {
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.modal-content .chatOption p, .modal-content .emailOption p {
  font-size: x-large;
  text-decoration: underline;
}

.modal-content textarea {
  resize: none;
  width: 400px;
  height: 200px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.vl {
  border-top: 3px solid #1f1e1e2c;
  border-radius: 10px;
  width: 100%;
}
/*# sourceMappingURL=ad-overview.css.map */