$primary-color: #1b6dc1;
$secondary-color: #3385d9;
$alternative-color: #7bb6f1ad;
$secondary-font-color: #243649fa;
$primary-font-color: #ebebeb;
$shadow-color: #2020209b;
$attention-color: #1f271b9b;
* {
    font-family: "Roboto", sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
}

.hide{
                    
}