$primary-color: #1b6dc1;
$secondary-color: #3386d9;
$alternative-color: #7bb6f1ad;
$secondary-font-color: #243649fa;
$primary-font-color: #ebebeb;
$shadow-color: #2020209b;
$attention-color: #1f271b9b;
pagination-component {
    width: fit-content;
    display: flex;

    .paginationContainer {
        display: flex;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;

            :not(.dots) {
                margin: 5px;
                span {
                    cursor: pointer;
                    padding:5px;
                    
                }
                span:hover {
                    background-color: rgba(143, 142, 142, 0.424);
                    border-radius:10px;
                    
                }
                
            }
            
            .dots {
                margin: 5px;
                span {
                    
                        
                }
            }
        }
    }
}
.currentPage {
    span{
        border-radius:10px;
        height:25px;
        width:25px;
        
        background-color: $primary-color;
        color: $primary-font-color;
    }
    
}
