<h1>index js client</h1>


<div>
    <button id="btn-signIn">Sign in</button>
</div>
<div>
    <button id="btn-callApi">Call Api</button>
</div>
<div>
    <button id="btn-signOut">signOut</button>
</div>
<div>
    <button id="btn-chat">Chat</button>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/sign-in.js"></script>
 