<link href="~/css/index.css" rel="stylesheet" />

<nav>
    <ul>
        <li><button id="btn-signIn">Sign in</button></li>
        <li> <button id="btn-callApi">Call Api</button></li>
        <li><button id="btn-signOut">signOut</button></li>
        <li><button id="btn-chat">Chat</button></li>
    </ul>
</nav>





<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/sign-in.js"></script>