<link href="~/css/index.css" rel="stylesheet" />

<nav>
    <ul>
        <li><button style="display:none;" id="btn-signIn">Sign in</button></li>

        <li> <button id="btn-callApi">Call Api</button></li>
        <li><button id="btn-chat">Chat</button></li>
        <li><button style="display:none;" id="btn-signOut">signOut</button></li>
        <li><a href="https://localhost:44305/changePassword">changePassword</a></li>

        <li id="username"></li>
    </ul>
</nav>
<div>
    <img src="https://localhost:44374/images/servera/small/5873458.png" alt="Alternate Text" />
</div>

<div>
    <input type="text" placeholder="Title" id="input-Title" />
    <input type="text" placeholder="Description" id="input-Description" />
    <input type="text" placeholder="Type" id="input-Type" />
    <input type="text" placeholder="Category" id="input-Category" />
    <input type="text" placeholder="Condition" id="input-Condition" />
    <input type="text" placeholder="Manufacturer" id="input-Manufacturer" />
    <input type="number" placeholder="Price" id="input-Price" />
    <input type="file" id="input-img" />
    <button onclick="UploadFile()">create</button>
</div>


<script>
        var imagefile = document.querySelector('#input-img');
        let title = document.querySelector('#input-Title')
        let description = document.querySelector('#input-Description')
        let type = document.querySelector('#input-Type')
        let category = document.querySelector('#input-Category')
        let condition = document.querySelector('#input-Condition')
        let manufacturer = document.querySelector('#input-Manufacturer')
        let price = document.querySelector('#input-Price')
    function UploadFile() {

        var formData = new FormData();
        formData.append("Img", imagefile.files[0]);
        formData.append("adId", 48);

        axios.put("https://localhost:44374/ad/image", formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
    }
     

    @*function UploadFile() {
        var uploadImg = img.files[0];
        var formData = new FormData();
        formData.append("file", uploadImg)
        formData.append("Description", title)
        formData.append("State", state)
        formData.append("Type", type)
        formData.append("Category", category)
        formData.append("Condition", condition)
        formData.append("Manufacturer", manufacturer)
        formData.append("Price", price)
        
        axios.post("https://localhost:44374/ad", formData)
    }*@
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/sign-in.js"></script>