<link href="~/css/index.css" rel="stylesheet" />

<nav>
    <ul>
        <li><button style="display:none;" id="btn-signIn">Sign in</button></li>

        <li> <button id="btn-callApi">Call Api</button></li>
        <li><button id="btn-chat">Chat</button></li>
        <li><button style="display:none;" id="btn-signOut">signOut</button></li>
        <li><a href="https://localhost:44305/changePassword">changePassword</a></li>
        
        <li id="username"></li>
    </ul>
    <div>
        <h3>Upload</h3>
        <input type="file" onchange="UploadFile(event)"  />
    </div>
</nav>

<script>
    function UploadFile(e) {
        console.log(e);
        var file = e.target.files[0];
        console.log(file);
        var formData = new FormData();
        formData.append("file", file)
        axios.post("https://localhost:44374/customer/profileImage", formData
    } 
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/sign-in.js"></script>