$subtle-grey: rgba(202, 202, 202, 0.657);
$primary-color: #1b6dc1;
$secondary-color: #3385d9;
$alternative-color: #7bb6f1ad;
notification-component {
    position: absolute;
    z-index: 999;
    background-color: white;
    font-family: "Roboto", sans-serif;
    width: 300px;
    border: 1px solid $subtle-grey;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 25px grey;
    .notificationContainer {
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        .notificationItems {
            max-height: 400px;
            overflow-y: auto;
            border-bottom: 1px solid $subtle-grey;
            padding: 0px;

            li {
                padding: 5px;
                padding-bottom: 15px;
                padding-top: 15px;
                list-style: none;
                background-color: rgba(230, 230, 230, 0.424);
                a {
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    color: black;
                    align-items: center;
                    .itemImage {
                        background-color: white;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        max-height: 50px;
                        height: 50px;
                        width: 50px;
                        border: 1px solid $subtle-grey;
                        border-radius: 10px;
                        margin-right: 10px;
                    }
                    .itemDescription {
                        display: flex;
                        flex-direction: column;
                        .title {
                            font-size: small;
                            font-weight: bold;
                        }
                        .date {
                            font-size: small;
                        }
                    }
                }
            }
            .new {
               background-color:white;
            }
            .new *{
                color:rgb(14, 95, 202);
            }
        }
        .notificationMore {
            display: flex;
            justify-content: center;
            a {
                text-decoration: none;
                box-shadow: 3px 5px 10px grey;
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 10px;
                color: black;
                background-color: $primary-color;
                color: white;
            }
        }
    }
}
