notification-component {
  position: absolute;
  z-index: 999;
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 300px;
  border: 1px solid rgba(202, 202, 202, 0.657);
  border-radius: 10px;
  padding-bottom: 20px;
  -webkit-box-shadow: 5px 5px 25px grey;
          box-shadow: 5px 5px 25px grey;
}

notification-component .notificationContainer ::-webkit-scrollbar {
  width: 10px;
}

notification-component .notificationContainer ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

notification-component .notificationContainer ::-webkit-scrollbar-thumb {
  background: #888;
}

notification-component .notificationContainer ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

notification-component .notificationContainer .notificationItems {
  max-height: 400px;
  overflow-y: auto;
  border-bottom: 1px solid rgba(202, 202, 202, 0.657);
  padding: 0px;
}

notification-component .notificationContainer .notificationItems li {
  padding: 5px;
  padding-bottom: 15px;
  padding-top: 15px;
  list-style: none;
  background-color: rgba(230, 230, 230, 0.424);
}

notification-component .notificationContainer .notificationItems li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

notification-component .notificationContainer .notificationItems li a .itemImage {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 50px;
  height: 50px;
  width: 50px;
  border: 1px solid rgba(202, 202, 202, 0.657);
  border-radius: 10px;
  margin-right: 10px;
}

notification-component .notificationContainer .notificationItems li a .itemDescription {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

notification-component .notificationContainer .notificationItems li a .itemDescription .title {
  font-size: small;
  font-weight: bold;
}

notification-component .notificationContainer .notificationItems li a .itemDescription .date {
  font-size: small;
}

notification-component .notificationContainer .notificationItems .new {
  background-color: white;
}

notification-component .notificationContainer .notificationItems .new * {
  color: #0e5fca;
}

notification-component .notificationContainer .notificationMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

notification-component .notificationContainer .notificationMore a {
  text-decoration: none;
  -webkit-box-shadow: 3px 5px 10px grey;
          box-shadow: 3px 5px 10px grey;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  color: black;
  background-color: #1b6dc1;
  color: white;
}
/*# sourceMappingURL=notification.css.map */